.container {
    width: 100%;
    margin: 0 auto;
}

.hobbie-wrapper {
    height:600px;
    background-color:black;
    padding: 20px;
}
.hobbies{
  float: left;
  width: 25%;
}
.hobbies-icon p{
    font-size:26px;
    color:springgreen;
    opacity:0.6;
}
.hobbies-icon img{
    width:80%;
    height: 85%;
    border-radius:5% ;

}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 26px;
  color: whitesmoke;
}

.heading h3 {
  font-weight: normal;
}

.heading h3 {
  padding-top:20px ;
  font-weight: bolder;
  text-align: center;
  font-size:40px;
  color:darkblue;
}
